<form action="/admin/login" method="post" style="max-width: 500px;">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Usuario</label>
    <input type="text" name="usuario" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Ingresar</button>
</form>
{{#if error}}
<p style="text-align:center;">Usuario y/o contraseña incorrectos</p>
{{/if}}